/PetManagement/target/
/LoginRegisterForm/nbproject/private/
/LoginRegisterForm/build/
/WhoIsMilionaireGame/nbproject/private/
/WhoIsMilionaireGame/build/
/TestEventClicked/nbproject/private/
/TestEventClicked/build/
/Coloecttion/nbproject/private/
/sinhvienEautPrj/nbproject/private/
/caculateSalary/nbproject/private/
/caculateSalary/build/
